# This is an Freescale Freedom eval board with a single MKL25Z128VLK4 chip.
# http://www.freescale.com/webapp/sps/site/prod_summary.jsp?code=FRDM-KL25Z
#

source [find interface/cmsis-dap.cfg]

# increase working area to 16KB
set WORKAREASIZE 0x4000

# chip name
set CHIPNAME LPC5569

reset_config srst_gates_jtag
#reset_config srst_only
#reset_config srst_nogate
#reset_config none separate

transport select swd

source [find target/lpc5569.cfg]
